
*/*.pyc
*/*.so*
*/**/__pycache__
*/**/*.dylib*
*/**/*.pyc
*/**/*.pyd
*/**/*.so*
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
env
.vscode
.vs
.env
db.sqlite3
.env.dev
.env.prod
.env.prod.db
Dockerfile
Dockerfile.prod
*/*.sh
docker-compose.yml
docker-compose.prod.yml
nginx.conf