{% extends "base.html" %}
{% load static %}
{% block extra_head %}
{% endblock %}
{% block content %}
<div class="container-xl align-self-center">
    <div class="row mt-xl-5 mt-4 text-center">
        <p class="fs-1 lead">Sobre</p>
    </div>
    <div class="row justify-content-center mt-xl-5 mt-3">
        <div class="col-xl-8">
            <p class="lead">Este website implementa uma aplicação de Internet Das Coisas agregando dados de "estações metereológicas" realizadas com o uso de microcontroladores conectados a internet. Os dados colhidos são Temperatura, Luminosidade, Humidade e Pressão, através de sensores integrados aos microcontroladores</p>
            <p class="lead">O envio dos dados é realizado remotamente através de comunicação HTTP entre os microcontroladores e o servidor, que realiza a sua devida armazenagem num banco de dados. Os microcontroladores são identificados através de uma chave que deve ser previamente registrada no servidor de forma a aceitar a submissão de dados</p>
            <p class="lead">O servidor foi realizado com o uso da framework Django (python), enquanto que os microcontroladores podem ser de qualquer tipo, contanto que estejam conectados a internet e possam enviar requisições HTTP. Os exemplos mostrados são realizados com microcontroladores ESP8266</p>
            <p class="lead">Mais detalhes podem ser visto no repositório GitHub: <a href="#" class="text-white btn btn-dark">Repositório <i class="bi bi-github ms-2" style="font-size: 1rem;"></i></a>
 
        </div>
    </div>
</div>
{% endblock %}